
<section class="content">
	<div class="container-fluid">

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="form-header">
				<h3>Nossos imóveis</h3>
				<small style="padding-left:10px">{{all_imoveis.count}} imóveis cadastrados</small>
			</div>
			{% for imovel in all_imoveis %}
			<div class="col-sm-3 col-xs-3" style="margin-top:20px;margin-bottom:20px;">
				<div class="panel panel-default imovel-block" data-href="{% url 'main:detalharimovelview' imovel.id %}">
					<div class="panel-body">
						<img {% if USE_AWS_S3 %}src="{{imovel.foto.url}}"{% else %}src="/media/{{imovel.foto}}"{% endif %} class="img-responsive" style="width:150px;height:150px;">
						<div class="caption">
							<h4 style="font-weight:bold;">{{imovel.descricao_curta}}</h4>
						</div>
					</div>
					<table class="table" style="padding: 0; margin: 0;">
						<tr>
							<td>Tipo</td>
							<td style="font-weight:bold;">{{imovel.get_tipo_display}}</td>
						</tr>
						<tr>
							<td>Á partir de</td>
							<td style="font-weight:bold;">{{imovel.format_valor}}</td>
						</tr>
						<tr>
							<td>Área</td>
							<td style="font-weight:bold;">{{imovel.format_area}}</td>
						</tr>
						<tr>
							<td>Cidade</td>
							<td style="font-weight:bold;">{{imovel.format_municipio}}</td>
						</tr>
						<tr>
							<td>Bairro</td>
							<td style="font-weight:bold;">{{imovel.format_bairro}}</td>
						</tr>
					</table>
				</div>
				{% if request.user.is_authenticated %}
				<div>
				<button type="button" class="btn btn-danger pull-left delete_btn" id="{{imovel.id}}">Deletar</button>
					<a class="btn btn-primary pull-right" href="{% url 'main:editarimovelview' imovel.id %}">Editar</a>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% include 'main/modal_delete_imovel.html' %}